html {
  background-color: rgb(255, 255, 255);
  cursor: url("/assets/media/cursor.cur"), default;
}

img {
  width: 200px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  image-rendering: pixelated;
  cursor: url("/assets/media/cursorhover.cur"), default;
}
