html {
  background-color: black;
  cursor: url("/assets/media/cursor.cur"), default;
  overflow-x: hidden;
  overflox-y: hidden;
}

body {
  cursor: url("/assets/media/cursor.cur"), default;
  height: 100%;
  width: 100%;
}

button {
  cursor: url("/assets/media/cursorhover.cur"), default;
}

a {
  cursor: url("/assets/media/cursorhover.cur"), default;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  object-fit: cover;
}

.flexcontainercontainer {
  overflox-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 97vh;
  width: 100%;
}

.flexcontainer {
  transition-property: opacity;
  transition-duration: 0.2s;
  overflox-y: hidden;
  overflow-x: auto;
	display: flex;
	/*flex-wrap: wrap;*/
  flex:none;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
	width: 90vw;
}

.flexcontainer > img {
  cursor: url("/assets/media/cursorhover.cur"), default;
  transition-property: width, margin;
  transition-duration: 0.11111111111s;
  width: 90px;
  margin: 10px;
}
