html {
  background-color: black;
  cursor: url("/assets/media/cursor.cur"), default;
}

body {
  cursor: url("/assets/media/cursor.cur"), default;
  height: 100%;
  width: 100%;
}

button {
  cursor: url("/assets/media/cursorhover.cur"), default;
}

a {
  cursor: url("/assets/media/cursorhover.cur"), default;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  object-fit: cover;
}

